
  

  

<!-- ------------------------------------------------------------------ -->

  <!-- <mat-card class="question-card" *ngFor="let question of questions">
    <mat-card-header>
      <mat-card-title>{{ question.title }}</mat-card-title>
      <mat-card-subtitle>By {{ question.auteur.firstname }} {{ question.auteur.lastname }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ question.description }}</p>
    </mat-card-content>
    <mat-card-footer>
      <span class="author-role">{{ question.auteur.role }}</span>
      <button mat-button color="primary" >Edit</button>
      <button mat-button color="warn"  >Delete</button>
    </mat-card-footer>
  </mat-card>
   -->
   <!------------------------------------------------------------------------- -->
   <!-- <div class="question-list">
    <div class="question-card" *ngFor="let question of questions">
      <div class="question-header">
        <h2 class="question-title">{{ question.title }}</h2>
        <div class="question-meta">
          <span class="question-author">{{ question.auteur.firstname }} {{ question.auteur.lastname }}</span>
          <span class="question-role">{{ question.auteur.role }}</span>
        </div>
      </div>
      <div class="question-content">
        <p class="question-description">{{ question.description }}</p>
      </div>
      <div class="question-footer">
        <button mat-button color="primary" class="question-edit">Edit</button>
        <button mat-button color="warn" class="question-delete">Delete</button>
      </div>
    </div>
  </div> -->
<!-- ------------------------------------------------------------------ -->
  <!-- <div class="question-list">
    <div class="question-card" *ngFor="let question of questions">
      <div class="question-header">
        <h2 class="question-title">{{ question.title }}</h2>
        <div class="question-meta">
          <span class="question-author">{{ question.auteur.firstname }} {{ question.auteur.lastname }}</span>
          <span class="question-role">{{ question.auteur.role }}</span>
        </div>
      </div>
      <div class="question-content">
        <p class="question-description">{{ question.description }}</p>
      </div>
      <div class="question-footer">
        <button mat-icon-button color="primary" class="question-edit" routerLink="/edit-question/{{ question._id }}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="primary" class="question-edit"routerLink="/add-reponse/{{ question._id }}">Add reponse</button>
        <button mat-icon-button color="warn" class="question-delete" (click)="onClickDelete(question._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div> 
    -->
<!-- --------------------------------------------------------------------------- -->
<!-- <div class="question-list">
  <div class="question-card" *ngFor="let question of questions">
    <div class="question-header">
      <h2 class="question-title">{{ question.title }}</h2>
      <div class="question-meta">
        <span class="question-author">{{ question.auteur.firstname }} {{ question.auteur.lastname }}</span>
        <span class="question-role">{{ question.auteur.role }}</span>
      </div>
    </div>
    <div class="question-content">
      <p class="question-description">{{ question.description }}</p>
    </div>
    <div class="question-footer">
      <button mat-icon-button color="primary" class="question-edit" routerLink="/edit-question/{{ question._id }}">
        <mat-icon>edit</mat-icon>
      </button>
      <div class="reponse-content">
        <p class="reponse-description">{{ question.description }}</p>
        <button mat-button color="primary"  routerLink="/add-reponse/{{ question._id }}">Add reponse</button>
      </div>
      
      <button mat-icon-button color="warn" class="question-delete" (click)="onClickDelete(question._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div> -->
<!---------------------------------------------------------------------------------------- -->

<div class="question-list">
  <div class="question-card" *ngFor="let question of questions">
    <div class="question-header">
      <h2 class="question-title">{{ question.title }}</h2>
      <div class="question-meta">
        <span class="question-author">{{ question.auteur.firstname }} {{ question.auteur.lastname }}</span>
        <span class="question-role">{{ question.auteur.role }}</span>
      </div>
    </div>
    <div class="question-content">
      <p class="question-description">{{ question.description }}</p>
    </div>
    <div class="question-footer">
      <button mat-icon-button color="primary" class="question-edit" routerLink="/edit-question/{{ question._id }}">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button color="primary"  routerLink="/add-reponse/{{ question._id }}">Add reponse</button>
      <button mat-icon-button color="warn" class="question-delete" (click)="onClickDelete(question._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="reponse-content">
      <p *ngIf="question.answers.length === 0" class="reponse-description">Aucune réponse pour cette question</p>
      <p *ngFor="let reponse of question.answers" class="reponse-description">{{ reponse.description }}</p>
    </div>
  </div>
</div>




<!-- <div class="question-card" *ngFor="let question of questions">
  <div class="question-header">
    <h2 class="question-title">{{ question.title }}</h2>
    <div class="question-meta">
      <span class="question-author">{{ question.auteur.firstname }} {{ question.auteur.lastname }}</span>
      <span class="question-role">{{ question.auteur.role }}</span>
    </div>
  </div>
  <div class="question-content">
    <p class="question-description">{{ question.description }}</p>
  </div>
  <div class="question-footer">
    <div class="reponse-content">
      <div *ngFor="let reponse of question.reponses">
        <p class="reponse-description">{{ reponse.description }}</p>
        <div class="reponse-meta">
          <span class="reponse-author">{{ reponse.auteur.firstname }} {{ reponse.auteur.lastname }}</span>
          <span class="reponse-role">{{ reponse.auteur.role }}</span>
        </div>
      </div>
      <button mat-button color="primary"  routerLink="/add-reponse/{{ question._id }}">Add reponse</button>
    </div>
    <button mat-icon-button color="primary" class="question-edit" routerLink="/edit-question/{{ question._id }}">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" class="question-delete" (click)="onClickDelete(question._id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div> -->

