<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./chatting.component.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   
   
    <title>Chat</title>
</head>
<body>
  
    <div class="app">
        <h1 class="chatTitle">Bienvenue sur chat</h1>
        

        <div class="container">
            <div class="channelList">
                <h1>Liste des channels</h1>
            </div>
    
            <div class="msgContainer" id="msgContainer"></div>
        </div>
        
        <div id="isWritting"></div>
        <form  method="POST" id="chatForm">
            <input type="text" id="msgInput"  autofocus>
            
            <input type="submit" id="btnSend" value="Envoyer">
        </form>

    </div>
    
    <!-- <script src="https://cdn.socket.io/4.2.0/socket.io.min.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>


    <script>
        var socket = io.connect('http://localhost:9000');

var pseudo;

do {
    pseudo = prompt('Quel est votre nom ?');
} while (!pseudo);
socket.emit('pseudo',pseudo);
document.title = pseudo +' - '+document.title;

document.getElementById('chatForm').addEventListener('submit',(e)=>{

    e.preventDefault();

    const textInput= document.getElementById('msgInput').value;
    document.getElementById('msgInput').value='';

    if (textInput.length >0){
        socket.emit('newMessage',textInput);
        createElementFunction('newMessageMe',textInput);
    }else{
        return false;
    }

});

//events
socket.on('newUser',(pseudo)=>{
createElementFunction('newUser',pseudo)
});
socket.on('newMessageAll',(content)=>{
    createElementFunction('newMessageAll',content);
})

socket.on('quitUser',(pseudo)=>{
    createElementFunction('quitUser',pseudo)
});


//functions
function createElementFunction(element,content){
    const newElement= document.createElement('div');
    switch(element){
        case 'newUser':
            newElement.classList.add(element,'message');
            newElement.textContent=content+' a rejoint le chat';
            document.getElementById('msgContainer').appendChild(newElement);
            break;
        case 'newMessageMe':  
        newElement.classList.add(element,'message');
        newElement.innerHTML=pseudo+':'+content;  
        document.getElementById('msgContainer').appendChild(newElement);
        break;
        case 'newMessageAll':  
        newElement.classList.add(element,'message');
        newElement.innerHTML=content.pseudo+':'+content.message;  
        document.getElementById('msgContainer').appendChild(newElement);
        break;
        case 'quitUser':
            newElement.classList.add(element,'message');
            newElement.textContent=content+' a quitté le chat';
            document.getElementById('msgContainer').appendChild(newElement);
            break;    
    }
}
    </script>
    
</body>
</html>
