<!-- <!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar" display="fixed">
      <header>My Menu</header>
      <a href="dashboard" class="active">
        <i class="fas fa-qrcode"></i>
        <span>Dashboard</span>
      </a>
      <a href="data-user">
        <i class="fas fa-user"></i>
        <span>utilisateurs</span>
      </a>
      <a href="formation">
        <i class="fas fa-stream"></i>
        <span>Overview</span>
      </a>
      <a href="#">
         <i class="fas fa-calendar"></i>
        <span>Events</span>
      </a>
      <a href="#">
        <i class="far fa-question-circle"></i>
        <span>About</span>
      </a>
      <a href="#">
        <i class="fas fa-sliders-h"></i>
        <span>Services</span>
      </a>
      <a href="#">
        <i class="far fa-envelope"></i>
        <span>Contact</span>
      </a>
    </div>
</body>
</html> -->
<!-- ---------------------------- -->
  <!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar> -->
  <!-- ------------------------------------- -->
  <!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Example icon-button with user icon">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </mat-toolbar> -->
  <!-- ---------------------------------------- -->
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>laptop</mat-icon>
      </button>
    <span>LearnIt</span>
    <span class="example-spacer"></span>

    <button class="logout" mat-raised-button color="accent" (click)="logout()">Logout</button>
    
  </mat-toolbar>
  

   
    <div class="wrapper">
   
      <div class="sidebar">
        <div class="profile-image">
          <!-- <img src="src/assets/images/4.jpg"> -->
          <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
        </div>
        <div *ngIf="user">
          <h1>{{ user.firstname }} {{ user.lastname }}</h1>
          <!-- <p>{{ user.email }}</p> -->
          <!-- <img [src]="user.photoUrl" alt="{{ user.firstname }} {{ user.lastname }}"> -->
        </div>
        <ul>
         
          <!-- <h2 *ngFor="let student of students">{{student.firstname }}</h2> -->
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li><a routerLink="/data-user"><i class="fa fa-users"></i> Users</a></li>
          <li><a routerLink="/formation"><i class="fa fa-graduation-cap"></i> Formations</a></li>
          <li><a routerLink="/home"><i class="fa fa-envelope"></i> Contact</a></li>
        </ul>
      </div>
    </div>
    
  <!-- </mat-drawer> -->
 


 


  <!-- <div class="main_content">
    <h2>Main Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div> -->

